# Python
__pycache__/
*.py[cod]
*$py.class
backend/.venv/
backend/venv/
backend/.env
backend/.uv

# Node
node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PWA
frontend/public/icons/icon-*.png

#environments
.env